.boite_a_onglet p, .boite_a_onglet ul  {
    padding:0;
    margin:0;
}
.boite_a_onglet {
    margin:10px;
}
.boite_a_onglet ul {
    list-style-type:none;
}
.bao_onglet_bouton {
    display:block;
    float:left;
    width:90px;    
    text-align:center;
    color:#666666;
    font-size:11px;
    font-weight:bold;
    line-height:10px;
    margin-bottom:-1px;
    padding:8px 5px;
    height:10px;    
    background-color:#F5F5F5; 
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border:1px solid #999;
    cursor:pointer;
}
.bao_onglet_contenu {
    background-color:#FFF; 
    border:1px solid #999;
    padding:5px;
    clear:both;
    float:none;
}
.bao_onglet_pied {
    background:url(../../image/bg/BAOPied320.png) no-repeat;
    width:320px;
    height:8px;
    clear:both;
    float:none;
}
.bao_onglet_entete {
    background:url(../../image/bg/BAOEntete320-2.png) no-repeat;
    width:320px;
    height:4px;
    clear:both;
    float:none;
}
.selection_onglet {
    border-bottom:0;
    cursor:default;
    margin-bottom:-1px;
    background-color:#FFF;
}
.onglet_text_12 {
    height:20px;
    padding:3px 5px;
}