extend layout

block meta-title
    title Loic TRUCHOT - Blog
    meta(name='description', content=t('app.Tutoriels_articles_et_demonstrations') + (' ') + t('app.autour_du_web_moderne_et_de_JavaScript'))
    meta(name='keywords', content='blog, javascript, node, cloud9, heroku, github, express, jade')

block contenu
    h1 blog
    span=t('app.Tutoriels_articles_et_demonstrations') + (' ') + t('app.autour_du_web_moderne_et_de_JavaScript')
    br
    br
    p 
    | Ce site est encore en construction. Veuillez revenir à compter du 2 mai 2013 pour en savoir plus. 
    br
    | Pour me contacter avant cette date : 
    a(href="mailto:loic.truchot@laposte.net") loic.truchot [at] laposte.net
