extend layout

block meta-title
    title Loic TRUCHOT - CV
    meta(name='description', content='Loic Truchot - Curriculum Vitae')
    meta(name='keywords', content='loic, truchot, cv, curriculum, vitae, experience, job, entreprise')

block sous-titre
    div.soustitre-cv
        span.invisible Curriculum Vitae
        div.clear

block contenu
    div.contenu-simple
        div.entete-article CV Public 
        article.contour-tl
            div.entete-t1
                div.clear
                div.contour-dashed.right
                    img(src="../images/img/cv-loic-truchot-2.jpg", alt="Loic Truchot")
                div.left
                    br
                    br
                    strong Monsieur Loïc TRUCHOT
                    br
                    | Nationalité Française
                    br
                    |28 ans
                    br
                    |Célibataire
                    br
                    |Rennes (France)
                    br
                    |E-mail : <a href="mailto:loic.truchot35@gmail.com">loic.truchot35 [at] gmail.com</a>
                    br
                    |Tél : o6 7o 6oo 5oo
            div.clear
            h2.grand-titre Développeur Web
            h2 Compétences informatiques
            em &nbsp;&nbsp; Langages et logiciels
            ul
                li Expert langages Web : <strong>HTML5*, CSS3*, XHTML</strong>
                li Expert interactivité : <strong>JavaScript, JQuery & Plugins, Ajax, ASP.NET</strong>
                li Expert serveur et BDD : <strong>PHP5* et MySQL, VB.NET ET Microsoft Server</strong>
                li Professionnel IDE : <strong>Cloud9 IDE, Visual Studio, Eclipse</strong>
                li Professionnel bureautique : <strong>Microsoft Office 2010*, Open Office 3*</strong>
                li Intermédiaire CMS : <strong>Prestashop, Wordpress, SPIP, Joomla!, PhpBB</strong>
                li Intermédiaire graphisme : <strong>Adobe CS6*, GIMP 2</strong>                 
                li Amateur divers : <strong>Node.js & NPM, Ruby on Rails, Perl, XML, XSLT</strong> 
            em &nbsp;&nbsp;Environnement Web
            ul               
                li Professionnel IHM : Accessiblité, Responsive Design, ergonomie web...
                li Professionnel Environnement : Noms de domaines, hébergement, référencement SEO, analyse statistique et maintenance des sites
                li Professionnel Conception : Subversion, Github, bonnes pratiques et maintenabilité
            em * et versions antérieures
            //- h2 Expériences professionnelles
            //- div
            //-     span Novembre 2009/Mai 2011
            //-     br
            //-     strong Auto-Entreprise (Noesis - SIRET : 51804631300012)
            //-     br
            //-     |Sous-traitement de projets web, assistance informatique et internet (Vannes 56, Rennes 35)
            //- br
            //- div
            //-     span Mai-Septembre 2010
            //-     br
            //-     strong Stagiaire Pro. - Evaluation du système d’information de l’université et conseil
            //-     br
            //-     |Université de Bretagne Sud
            //- br
            //- div
            //-     span Janvier-Juillet 2009
            //-     br
            //-     strong Contrat étudiant (CDD) - Maintenance des bases de données APOGEE de l’université
            //-     br
            //-     |Université de Bretagne Sud
            //- br
            //- div
            //-     span Mars-Juin 2008
            //-     br
            //-     strong Stagiaire Pro. Communication - Entreprise de visioconférence et TIC pour les professionnels
            //-     br
            //-     |Neolinks (Ludres - 54)
            //- br
            //- div
            //-     span Mars-Juin 2007
            //-     br
            //-     strong Stagiaire pro. aux Editions Hermaphrodite – LANEUVEVILLE (54)
            //- br
            //- div
            //-     span Juin-Décembre 2005
            //-     br
            //-     strong Caissier vendeur (Presse) au Hall du Livre – NANCY (54) - CDD puis CDI temps partiel
            //- br
            //- div
            //-     span Avril-Juin 2004
            //-     br
            //-     strong Employé polyvalent à lʼhôtel Mercure*** - NANCY (54) - Contrats dʼextras
            //- br
            //- div
            //-     span 2002-2007
            //-     br
            //-     strong Animateur enfant/ados et public déficient mental de catégorie A/B
            //-     br
            //-     |CDD Animateur diplômé à la MJC Desforges - NANCY (54), au FJEP– MAXEVILLE (54), à lʼOPCV., à Cocktail Evasion - METZ (57), à A.S.L.V. (88) durant les vacances d'été.
            //- h2 Formations            
            //- div
            //-     span 2008/2010
            //-     br
            //-     strong Université Bretagne-sud
            //-     br
            //-     |Master professionnel, Documentation et Techniques de lʼInformation/Communication (Obtenu)
            //-     br
            //-     |Informatique, web, ergonomie et ingénierie cognitive, veille stratégique
            //- br
            //- div
            //-     span 2007/2008
            //-     br
            //-     strong Université Nancy II
            //-     br
            //-     |Licence professionnelle, Techniques de lʼInformation/Communication (Obtenu)
            //-     br
            //-     |Communication, PAO, développement web, systèmes dʼinformation
            //- br
            //- div
            //-     span 2005/2007
            //-     br
            //-     strong Université Nancy II
            //-     br
            //-     |DUT, Information/Communication (Obtenu)
            //-     br
            //-     |Communication, nouvelles technologies, marketing, métiers du livre
            //- br
            //- div
            //-     span 2003/2004
            //-     br
            //-     strong Université Nancy II
            //-     br
            //-     |L1 de Philosophie (Ajourné)
            //- br
            //- div
            //-     span 2003
            //-     br
            //-     strong Lycée Chopin (Nancy 54)
            //-     br
            //-     |BAC Littéraire (Obtenu)
            //-     br
            //-     |Option Grec ancien
            //- h2 Divers