extend layout
block contenu
    br
    br
    p 
    | Ce site est encore en construction. Veuillez revenir à compter du 2 mai 2013 pour en savoir plus. 
    br
    | Pour me contacter avant cette date : 
    a(href="mailto:loic.truchot@laposte.net") loic.truchot [at] laposte.net
