extend layout

block meta-title
    title= ('Loic TRUCHOT - ') +  t('app.Parcours_et_actualites_d_un_developpeur_web')
    meta(name='description', content=t('app.Site_personnel_de_Loic_TRUCHOT') + (' : CV, Blog, LTTOols (') + t('app.boite_a_outils_javascript') + (')...'))
    meta(name='keywords', content='loïc, loic, truchot, cv, developpeur, travaux, blog, lttools, javascript, node, jquery, perso, parcours')

block sous-titre
    div.soustitre-accueil
        span.invisible=t('app.Parcours_et_actualites_d_un_developpeur_web')
        div.clear
        
block contenu
    br
    br
    p 
    | Ce site est encore en construction. Veuillez revenir à compter du 2 juin 2013 pour en savoir plus. 
    br
    | Pour me contacter avant cette date : 
    a(href="mailto:loic.truchot35@gmail.com") loic.truchot35 [at] gmail.com
    br
    //- a(href="/test") test