!!!5
html
    head 
        block meta-title
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')        
        link(rel='stylesheet', href='/stylesheets/#{langue_courante}/aresio.css', media='screen')
        script(src='/scripts/jquery-1.9.1.min.js', type='text/javascript')
        script(src='/scripts/LTTOoLS/index.js', type='text/javascript')
        script(src='/scripts/LTTOoLS/object/oScreenHelper.js', type='text/javascript')
        script(src='/scripts/commun.js', type='text/javascript')
        script(src='/scripts/google-analytics.js', type='text/javascript')
        
    body
        div#page
            header 
                div.entete1
                    a.titre(href=t('url.accueil'))
                        h1.invisible Loic Truchot                        
                    include mod-choix-langue
                div.entete2
                    div.identification
                        include mod-identification
                    block sous-titre                    
                include mod-menu
                div.rechercher
                    input.rechercher-left(value=t('app.Rechercher'))
                    input.rechercher-right(type="button", value="")
            div.clear
            block contenu
            footer
                br
                br
                p
                    em Ce site fonctionne sous <a href="http://nodejs.org/">Node.js</a> avec <a href="http://expressjs.com/">Express</a>, <a href="http://jade-lang.com/">Jade</a> et <a href="http://learnboost.github.io/stylus/">Stylus</a>.
                    br
                    em Outils de développement : <a href="https://c9.io/">Cloud9</a> (IDE), <a href="https://www.heroku.com/">Heroku</a> (Hébergement), <a href="https://github.com/">GitHub</a> (Versions), <a href="http://www.gandi.net/">Gandi</a> (Domaine). 
                    br        
        
            

