nav.langues(title="#{tradLangues_disponibles}")
    ul
        li 
            span.selected
                img(src='../images/img/fr.png', alt='Drapeau France') 
                span.invisible Fran&ccedil;ais
        li
            a(href="/en/home")
                img(src='../images/img/en.png', alt='Drapeau Royaume-Unis') 
                span.invisible English