nav.menu
    ul
        li
            a(href=t("url.accueil"))=t("app.Accueil")                       
        li 
            a(href=t("url.cv")) CV
        li 
            a(href=t("url.blog")) Blog
        li 
            a(href=t("url.lttools")) LTTOoLS