nav.langues(title=t("app.Langues_disponibles"))
    ul
        li 
            - if (langue === "en")
                a(href="/fr/accueil")
                    img(src='../images/img/fr.png', alt='Drapeau France') 
                    span.invisible Fran&ccedil;ais
            - else
                span.selected            
                    img(src='../images/img/fr.png', alt='Drapeau France') 
                    span.invisible Fran&ccedil;ais
        li
            - if (langue === "fr")
                a(href="/en/home")
                    img(src='../images/img/en.png', alt='Drapeau Royaume-Unis') 
                    span.invisible English
            - else
                span.selected            
                    img(src='../images/img/en.png', alt='Drapeau Royaume-Unis') 
                    span.invisible English