/* ----------------- DEBUT HTML -------------------- */
body, nav, input
    margin:0
    padding:0
    
.entete, .entete2, .identification, .btn40
    margin:0
    padding:0

body 
    text-rendering:optimizeLegibility
    font-family:Arial, sans-serif
    font-size:13px
    color:#000   
    
    
h1
    text-align:left
    font-style:italic
    padding:5px 0
    margin:0
    font-size:1.5em

input
    color:#808080
    font-style:italic
    
/* ----------------- FIN HTML -------------------- */

/* ----------------- DEBUT CUSTOM ---------------- */
.clear
    width:1px
    height:100%
    line-height:1px
    float:none
    clear:both
.hr320 
    width:320px
    height:3px
    margin:10px auto
    padding:0
    background:url(../images/bg/separateur320.png)    

.hr320 hr 
    display:none

.entete1
    position:relative
    width:306px
    height:200px
    float:left

.titre
    float:left
    width:300px
    height:190px    

.entete2
    float:left
    width:640px
    position:relative

.identification
    position:absolute
    text-align:right
    top:0
    right:0
    font-size:0.9em
    font-style:italic
    color:#808080

.identification input
    float:left
    
.soustitre
    font-size:1.4em
    font-style:italic
    display:block
    margin:75px 0 40px 0
    width:620px
    height:50px
    text-align:center   
    

nav.menu
    display:block    
    width:366px
    float:left
    margin-left:40px
    
nav.menu ul
    background:url(../images/bg/bg-menu.png)
    padding:2px
    margin:0
    width:362px
    height:37px
    list-style-type:none
    list-style-image:none
    
nav.menu ul li
    background:url(../images/bg/bg-elt-menu.png)
    display:block
    float:left
    width:90px
    height:28px
    padding:9px 0 0 0
    margin:0
    text-align:center
    font-weight:bold
    color:#808080

nav.menu ul li:first-child
    background:url(../images/bg/bg-elt-menu-gauche.png)
    width:91px

nav.menu ul li:last-child
    background:url(../images/bg/bg-elt-menu-droite.png)
    width:91px

nav.menu ul li.elt-menu-pressed
    background:url(../images/bg/bg-elt-menu-pressed.png)

nav.menu ul li:not(.elt-menu-pressed):hover
    background:url(../images/bg/bg-elt-menu-hover.png)
    cursor:pointer

span.langues-disponibles
    display:block;
    float:left;
    margin:0 10px 0 0 
    padding:4px 0 0 0

nav.langues ul
    position:absolute
    right:0
    bottom:0
    list-style-type:none
    list-style-image:none
    padding:0
    margin:0

nav.langues ul li
    list-style-type:none
    list-style-image:none
    display:block
    float:left
    padding:0
    margin:0 10px 0 0 
    
nav.langues ul li a
    display:block
    padding:0
    margin:0
    text-decoration:none
    border:none
    height:24px
    width:24px
    padding-bottom:13px
    background:url(../images/bg/bg-radio.png) bottom center no-repeat

nav.langues ul li span.selected
    display:block
    padding:0
    margin:0
    text-decoration:none
    border:none
    height:24px
    width:24px
    padding-bottom:13px
    background:url(../images/bg/bg-radio-selected.png) bottom center no-repeat

.invisible
    display:none


.ipt100 
    display:block
    width:92px
    height:25px
    background:url(../images/bg/bg-ipt100.png)
    border:0
    padding:0 4px    
    margin-right:5px

.btn40
    display:block
    width:40px
    background:url(../images/bg/bg-btn40.png) bottom left no-repeat
    height:25px
    border:0
    color:#808080
    font-weight:bold
    font-size:0.9em
    cursor:pointer
    line-height:15px

.rechercher
    width:210px
    height:31px
    float:left
    padding-top:5px
    margin-left:20px
    
.rechercher-left
    padding:0
    margin:0
    border:0
    display:block
    width:174px
    height:31px
    background:url(../images/bg/bg-recherche-left-182.png) top left no-repeat
    float:left
    padding:0 4px  
    
.rechercher-right
    padding:0
    margin:0
    border:0
    display:block
    width:28px
    height:31px
    background:url(../images/bg/bg-recherche-right.png) top left no-repeat
    float:left

.rechercher-right:hover
    cursor:pointer
    background:url(../images/bg/bg-recherche-right-hover.png) top left no-repeat


/* ----------------- FIN CUSTOM ---------------- */

/* ----------------- DEBUT BLOCS -------------------- */
div#page 
    width:946px
    margin:0 auto
    padding:5px 17px 10px 17px
    background:url(../images/bg/bg-page.jpg) center top 
/* ----------------- FIN BLOCS -------------------- */

/* ------------------- DEBUT MEDIA --------------------- */
@media (min-device-width:1024px) and (max-width:989px), screen and (max-device-width:480px), (max-device-width:480px) and (orientation:landscape), (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) 
    div#page
        width:468px
        
    .entete2
        width:140px
        float:right
        
    .soustitre
        display:none  
        
    .identification
        padding-top:50px
        text-align:center
        float:right
        
    .identification input
        float:none;
        display:inline-block
        margin:0
        
    .btn40
        float:right  
        
    nav.menu
        margin:20px 0 0 50px
    
    .rechercher
        float:right
        clear:left
        margin-right:52px
        

@media (min-device-width:1024px) and (max-width:509px),(max-device-width:480px) and (orientation:portrait) 
  div#page
    padding:5px 0px 10px 0px
    width:306px
/* ------------------- FIN MEDIA --------------------- */