body,
div {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: url("../images/bg/bg-page.jpg") top left repeat;
}
#menu-haut {
  width: 1003px;
  height: 150px;
  position: relative;
}
#menu-gauche {
  width: 323px;
  height: 520px;
  float: left;
}
#carte {
  float: left;
  width: 680px;
  height: 520px;
  box-shadow: 0 0 10px #000;
}
#menu-bas {
  width: 1003px;
  height: 150px;
  clear: both;
  float: none;
}
div.legende-pays-jouable,
div.legende-pays-joue,
div.legende-pays-non-jouable {
  width: 16px;
  height: 16px;
}
div.legende-pays-jouable {
  background-color: #008000;
}
div.legende-pays-joue {
  background-color: #f00;
}
div.legende-pays-non-jouable {
  background-color: #c0c0c0;
}
#annee-courante {
  position: absolute;
  width: 100px;
  height: 23px;
  top: 0;
  left: 450px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px;
  text-align: center;
  font-weight: bold;
}
#button-restart {
  position: absolute;
  left: 560px;
}
