body, div
    margin:0
    padding:0    

body
    font-family:Arial, sans-serif
    background:url(../images/bg/bg-page.jpg) top left repeat
    font-size:12px

.invisible
    display:none

#conteneur-centre
    width:1003px
    float:none
    clear:both
    
#menu-gauche
    width:323px
    height:520px
    float:left    
    
#carte
    float:left
    width:680px
    height:520px
    box-shadow:0 0 10px #000
#menu-bas
    width:1003px
    height:150px
    clear:both
    float:none

div.legende-pays-jouable, div.legende-pays-joue, div.legende-pays-non-jouable, div.legende-mon-pays
    width:16px
    height:16px

div.legende-mon-pays
    background-color:blue
    
div.legende-pays-jouable
    background-color:green

div.legende-pays-joue
    background-color:red

div.legende-pays-non-jouable
    background-color:#C0C0C0

#menu-haut
    width:1003px
    height:150px
    position:relative

#menu-haut #annee-courante
    position:absolute
    width:100px
    height:23px
    top:0
    left:450px
    background:#FFF
    border-bottom-left-radius:10px
    border-bottom-right-radius:10px
    box-shadow:0 0 10px
    text-align:center
    font-weight:bold
    font-size:16px
   
#menu-haut #button-restart
    position:absolute
    left:560px
    top:0
    
#menu-haut #block-info1
    position:absolute
    left:0
    top:30px
    height:100px
    width:100%
    margin:0
    resize:none
    display:block

.btn300
    background:url(../images/bg/btn300.png) top left no-repeat
    width:300px
    height:40px
    cursor:pointer
    margin:auto
    text-align:center
    line-height:40px
    font-weight:bold
    color:#808080
    font-size:14px

.ecranMinistere
    position:absolute
    width:500px
    height:400px
    top:180px
    left:350px
    

.titreMinistere
    float:left;
    width:300px;
    height:23px;
    border-top-right-radius:10px
    //margin-bottom:3px
    //box-shadow: 0 10px 0 transparent, 0 0 10px #000
    background:url(../images/bg/bg-page.jpg) top left repeat
    text-align:center
    line-height:25px
    font-weight:bold
    color:#808080
    font-size:14px
    
.fermerMinistere
    width:30px
    height:23px;
    border-top-left-radius:10px
    //margin-bottom:3px
    float:right
    //box-shadow: 0 10px 0 #fff, 0 0 10px #000;
    background:url(../images/bg/bg-page.jpg) top left repeat
    line-height:25px
    font-weight:bold
    color:#808080
    text-align:center
    cursor:pointer
    
.contenuMinistere
    clear:both
    float:none
    width:480px
    min-height:400px
    padding:10px
    background:url(../images/bg/bg-page.jpg) top left repeat
    box-shadow: 5px 5px 10px #666

    
    