@import "../commun.css"


/* ----------------- DEBUT LANGUES ------------------ */
.titre
    background:url(../../images/bg/carte-visite-v1-fr.png) top left no-repeat
    
.soustitre-accueil
    background:url(../../images/bg/bg-soustitre-fr.png)

.soustitre-blog
    background:url(../../images/bg/bg-st-blog-fr.png)
    
.soustitre-cv
    background:url(../../images/bg/bg-st-cv-fr.png)
/* ----------------- FIN LANGUES ------------------ */


