@import "../commun.css"


/* ----------------- DEBUT LANGUES ------------------ */
.titre
    background:url(../../images/bg/carte-visite-v1-en.png) top left no-repeat
    
.soustitre
    background:url(../../images/bg/bg-soustitre-en.png)
/* ----------------- FIN LANGUES ------------------ */


