@import "../commun.css";
/* ----------------- DEBUT LANGUES ------------------ */
.titre {
  background: url("../../images/bg/carte-visite-v1-en.png") top left no-repeat;
}
.soustitre-accueil {
  background: url("../../images/bg/bg-soustitre-en.png");
}
.soustitre-blog {
  background: url("../../images/bg/bg-st-blog-en.png");
}
/* ----------------- FIN LANGUES ------------------ */
